@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
* {
  text-align: center;
  color: white;
  background-color: #613F75;
  margin: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Oleo Script Swash Caps', cursive;
  background-color: inherit;
}

p {
  font-size: 1.5rem;
  text-align: left;
  padding: 2rem;
  background-color: inherit;
}

article {
  background-color: inherit;
}

Link {
  text-decoration: none;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  padding:1rem;
  margin-bottom: 2rem;
}

.nav_logo{
  text-decoration: none;
}

.nav_ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

.nav_ul *{
  padding: 0.25rem 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 2s ease-in-out;

}


.nav_ul li:hover{
  border-bottom: white solid 0.1rem;
  transition: all 2s ease-in-out;
}

.cards-title{
  border-radius: 0.5rem;
  color: Pink ;
  background-color: white;
  width: 90%;
}

.cards-total{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards{
  padding: 1rem;
  margin: 2rem;
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
}


.cards-image {
 height: 350px;
 width: 90%;
 border-radius: 2rem;
 border:none;
 margin: 1rem;
}

.cards-description-container, .cards-description-container * {
  background-color: white;
  color: black;
}

.welcome_section{
  background-color: #F7A9A8;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  border-radius: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.welcome_title{
  padding: 2rem;
}

.welcome_rupaul_img{
  margin: 0.5rem;
  height: 400px;
  border-radius: 1rem;

}

.search_main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search_main *{
  padding: 0.5rem 1.5rem;
  width: 15%;
  border-radius: 1.5rem;
  transition: 1s ease-in-out;
  margin: 1rem;
}

.search_input:focus{
  width: 40%;
  margin-bottom: 0.5rem;
}
.about_section2{
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}
.about_img_mariesoleil{
  width: 40%;
}


